header {
    width: 100%;
    min-height: 740px;
}

.wave {
    position: relative;
    padding-top: 10rem;
    background: rgb(2, 0, 36);
    background: linear-gradient(349deg, rgba(2, 0, 36, 1) 0%, rgba(9, 115, 121, 1) 34%, rgba(0, 212, 255, 1) 100%);
}

.wave::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 216px;
    background: url(../img/wave.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar .nav-link {
    color: white;
    margin-right: 29px;
    transition: 0.2s;
}

a.nav-link:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}

.btn-custom {
    border: 1.5px solid #fff;
    border-radius: 50px;
    color: #fff;
    background: none;
    padding: 8px 20px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.6s;
}

.btn-custom:hover {
    background: rgba(9, 115, 121, 1);
    border: 1.5px solid rgba(9, 115, 121, 1);
    color: #fff;
}

.navbar-fixed {
    background-color: rgba(9, 115, 121, 1);
    /* background-color: rgb(2, 100, 255); */
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.6s;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

section {
    padding: 82px 0;
}

.section-bg {
    background-color: #F9F9FD;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #82b8fe;
}

.about .member {
    padding: 30px;
    border-radius: 15px;
    background: #F9F9FD;
    transition: 0.5s;
    height: 100%;
}

.about .member:hover {
    /* box-shadow: 0px 15px 30px rgb(77, 87, 222 /30%); */
    box-shadow: -9px 9px 17px -3px rgba(176, 176, 176, 1);
    background: #FFF;
}

.about .member h4 {
    font-weight: 700px;
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(105, 103, 245);
}

.about .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

.about .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 500;
}

.about .member p {
    /* margin-bottom: 10px 0 0 0; */
    font-size: 14px;
}

.about .member a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 38px;
    height: 38px;
    border: 1px solid;
}

.about .member a:hover {
    color: white;
    background: rgb(105, 103, 245);
}

.services .icon-box {
    padding: 33px 25px;
    text-align: center;
    background: #FFF;
    cursor: pointer;
    transition: 0.5s;
}

.services .icon-box:hover {
    box-shadow: -9px 9px 17px -3px rgba(176, 176, 176, 1);
}

.services .icon-box .icon i {
    color: rgb(108, 122, 243);
    font-size: 43px;
}

.services .icon-box h4 {
    margin-bottom: 15px;
    color: rgb(91, 88, 247);
}

.hobbie #hobbie-filters li {
    cursor: pointer;
    list-style: none;
    margin: 10px 5px;
    font-weight: 500;
    color: #444444;
    transition: all 0.3s;
    padding: 5px 20px;
    border-radius: 50px;
}

.hobbie #hobbie-filters li:hover,
.hobbie #hobbie-filters li.filter-active {
    background: rgb(108, 122, 243);
    color: #fff;
}

.hobbie .hobbie-item .hobbie-img img {
    transition: all 0.6s;
}

.hobbie .hobbie-item:hover .hobbie-img img {
    transform: scale(1.15);
}

.hobbie .hobbie-item .hobbie-img {
    overflow: hidden;
}

.hobbie .hobbie-item .hobbie-info {
    opacity: 0;
    position: absolute;
    left: 12px;
    bottom: 0;
    right: 12px;
    transition: all 0.3s;
    background: rgb(134, 145, 247);
    padding: 10px 15px;
}

.hobbie .hobbie-item .hobbie-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0;
}

.hobbie .hobbie-item .hobbie-info p {
    color: #f9fcfe;
    font-size: 15px;
    margin-bottom: 0;
}

.hobbie .hobbie-item .hobbie-info .preview-link,
.hobbie .hobbie-item .hobbie-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 30px;
    top: calc(50% - 28px);
    color: #fff;
    transition: 0.3s;
}

.hobbie .hobbie-item .hobbie-info .details-link {
    right: 10px;
}

.hobbie .hobbie-item .hobbie-info:hover {
    opacity: 1;
}

.hobbie .hobbie-item .hobbie-info .preview-link:hover,
.hobbie .hobbie-item .hobbie-info .details-link:hover {
    color: rgb(91, 88, 247);
}

.btn-contacto {
    background-color: #82b8fe;
    color: white;
    font-weight: 700;
    border: none;
}

iframe {
    max-width: 100%;
}

footer {
    border-top: 1px solid #7e7e7e;
    padding-top: 44px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer .social {
    background: rgb(105, 103, 245);
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
}

footer .social a {
    color: #fff;
}

.go-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: rgb(105, 103, 245);
    columns: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

.navbar-toggler {
    padding: .10rem .45rem;
    border: 1px solid white;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler i.bi-list {
    color: white;
    font-size: 1.6rem;
}

@media (max-width: 992px) {
    .navbar-collapse {
        padding-bottom: 19px;
    }
    .wave {
        padding-top: 6rem;
    }
}

@media (max-width: 768px) {
    .text-center-xs {
        text-align: center;
    }
    .text-center-xs img {
        width: 366px;
    }
}

.instagram-footer {
    font-family: cursive;
    font-weight: 600;
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}